body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

.dark {
    background: #222;
    color: white;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.dark section {
    background: #444;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
